<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First name:</label>
        <input type="text" formControlName="firstName" id="firstName">

        <label for="lastName">Last name:</label>
        <input type="text" formControlName="lastName" id="lastName">
    </div>

    <div formGroupName="address">
        <h2>Address</h2>
      
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
      
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
      
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
    </div>


    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="submit" (click)="updateProfile()">Update profile</button>
</form>